.button {
    width: 100px;
    height: 30px;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    display: block;

    &:focus {
        outline: 0;
    }
}

.save-button {
    background-color: rgb(32, 189, 149);
    color: white;
    text-transform: uppercase;
    border: 1px solid rgb(27, 167, 129);
    
    &:hover {
        background-color: rgb(27, 167, 129);
        transition: background-color .3s;
    }   
}

.delete-button {
    background-color: red;
    color: white;
    text-transform: uppercase;
    border: 1px solid rgb(196, 0, 0);
    
    &:hover {
        background-color: rgb(196, 0, 0);
        transition: background-color .3s;
    }
}

span.delete-item {
    float: right;
    color: red;
    margin-right: 20px;

    &:hover {
        color: red !important;
    }
}