.button {
    border-radius: 5px;
    border: 0;
    background-color: cornflowerblue;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.create-button,
.remove-button
{
    height: 40px;
    margin-left: 10px;
    min-width: 85px;
}

.save-button {
    width: 400px;
    height: 40px;
    margin-top: 20px;
}