.player-container {
    font-family: sans-serif;

    .details {
        .top-right {
            float: left;
            width: 220px;
            margin: 10px 10px 0 20px;
        }

        .player-name,
        .birth-date {
            width: 200px;
            height: 24px;
            margin: 10px 10px 10px 0;
            padding-left: 5px;
        }

        .birth-date {
            height: 30px;
        }

        .height-and-weight {
            display: block;
            float: left;
            width: 150px;
            margin-left: 10px;
            margin-top: 10px;

            input,
            span {
                margin-bottom: 20px;
                height: 30px;
            }
        }

        .country-and-team {
            display: block;
            float: left;
            width: 220px;
        }

        .position-and-foot {
            float: left;

            .dropdown-container {
                margin-left: 25px;
            }
            .dropdown-container:first-child {
                margin-left: 10px;
            }
        }

        .buttons-section {
            float: left;
            width: 100%;
        }

        .player-height,
        .player-weight {
            width: 70px;
            height: 24px;
            padding-left: 5px;
            margin-right: 5px;
        }

        .shirt-number {
            width: 70px;
            height: 30px;
            padding-left: 5px;
            margin-bottom: 5px;
        }

        .shirt-label {
            margin-left: 6px;
            margin-right: 20px;
            font-size: 13px;
        }

        .dropdown-section {
            margin: 10px;
        }

        .measure-unit {
            font-size: 13px;
        }

        .overall {
            width: 50px;
            height: 30px;
            line-height: 30px;
            padding-left: 5px;
            color: white;
            font-size: 13px;
            display: inline-block;
        }

        .plus-button,
        .minus-button {
            width: 50px;
            height: 30px;
            background-color: white;
            color: black;
            font-size: 13px;
            margin-left: 25px;
        }
    }

    .stats {
        .stats-group {
            .dropdown-container {
                float: none;
            }

            .title {
                color: grey;
                font-size: 20px;
            }
        }
    }
}
