.player-container {
    width: 85%;
    height: 100%;
    float: left;
    font-family: sans-serif;

    .details {

        .player-name,
        .birth-date
        {
            width: 200px;
            height: 24px;
            margin: 10px;
            padding-left: 5px;
        }

        .player-height,
        .player-weight
        {
            width: 70px;
            height: 24px;
            padding-left: 5px;
            margin-right: 5px;
        }

        .shirt-number {
            width: 60px;
            height: 30px;
            padding-left: 5px;
            margin-bottom: 5px;
        }

        .shirt-label {
            margin-left: 5px;
            font-size: 13px;
        }

        .dropdown-section {
            margin: 10px;
        }

        .measure-unit {
            font-size: 13px;
        }
    }

    .stats {

        .stats-group {
            .title {
                color: grey;
                font-size: 20px;
            }
        }
    }
}