.league-container {
    font-family: sans-serif;

    .league-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;

        .league-details-wrapper {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .pagination-wrapper {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    .league-logo {
        width: 140px;
        float: left;
        margin: 10px;
    }

    .league-details {
        float: left;
        margin: 10px;
        width: 220px;

        .league-name {
            width: 200px;
            height: 34px;
            margin: 10px;
            padding-left: 5px;
            float: left;
        }

        .dropdown-container {
            margin: 10px;
        }
    }
}
