.team-container {
    font-family: sans-serif;

    .team-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;

        .team-details-wrapper {
            grid-column-start: 1;
            grid-column-end: 2;
        }

        .pagination-wrapper {
            grid-column-start: 2;
            grid-column-end: 3;
        }
    }

    .team-logo {
        float: left;
        margin: 10px;

        .logo-wrapper {
            width: 140px;
        }
    }

    .team-details{
        float: left;
        margin: 10px;

        .team-name,
        .team-coach,
        .team-stadium {
            width: 200px;
            height: 34px;
            margin: 10px;
            padding-left: 5px;
            display: block;
        }

        .dropdown-section {
            width: 200px;
            margin-left: 10px;
        }
    }
}