.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.red {
    background-color: #e9573e;
}
.orange {
    background-color: #e77e23;
}
.yellow {
    background-color: #f6bb43;
}
.light-green {
    background-color: #8dc153;
}
.dark-green {
    background-color: #239454;
}
