.image-uploader {
    width: 120px;
    margin: 10px;
    float: left;

    .image-container {
        width: 120px;
        height: 120px;
        border: 1px solid grey;
        margin-bottom: 5px;
    }
}