.image-uploader {
    width: 120px;
    margin: 10px;
    float: left;
    
    input[type='file'] {
        color: transparent;
    }

    .image-container {
        width: 120px;
        height: 120px;
        border: 1px solid grey;
        margin-bottom: 5px;

        img {
            width: 100px;
            height: 100px;
            margin: 10px;
        }
    }
    
    .remove-image {
        padding: 2px 6px;
        margin-top: 5px;
    }
}