.navbar {
    background-color: rgb(65, 80, 105);
    color: white;
    font-family: sans-serif;

    .navitem-clickable {
        width: 100%;
        height: 40px;
        font-size: 13px;
        line-height: 40px;
        padding: 0 20px;
        border-bottom: 1px solid rgb(80, 90, 107);
        cursor: pointer;

        &:focus {
            outline: 0;
        }

        &:hover {
            background-color: rgb(32, 189, 149);
        }
    }

    .navitem {

        .navitem-parent {
            width: 100%;
            height: 40px;
            font-size: 13px;
            line-height: 40px;
            padding: 0 20px;
            border-bottom: 1px solid rgb(80, 90, 107);

            .label {
                float: left;
            }

            .arrow {
                float: right;
                font-size: 13px;
                margin-right: 0px;
                transition: margin-right .3s;
            }

            &:hover {
                background-color: rgb(32, 189, 149);
            }
        }

        .navitem-children {
            display: none;
            background-color: rgb(80, 90, 107);
            cursor: pointer;
        }

        .navitem-child {
            width: 100%;
            height: 30px;
            font-size: 13px;
            line-height: 30px;
            padding-left: 30px;
            color: white;
            
            &:hover {
                color: rgb(32, 189, 149);
            }

            &:focus {
                outline: 0;
            }
        }

        &:focus {
            outline: 0;
        }

        &.open {
            .navitem-parent {
                background-color: rgb(32, 189, 149);
            }

            .navitem-children {
                display: block;
            }

            .arrow {
                margin-right: 10px;
                transition: margin-right .3s;
            }
        }

        &:hover {
            .arrow {
                margin-right: 10px;
                transition: margin-right .3s;
            }
        }
    }
}

.dashboard-logo {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(32, 189, 149);
    border-bottom: 1px solid rgb(80, 90, 107);
}