.pagination-container {
    width: 96%;
    margin: 2%;
    border: 1px solid grey;
    padding: 10px;
    color: dimgray;
    height: 460px;

    .no-result {
        height: 44px;
        line-height: 44px;         
    }

    .result-item {
        height: 44px;
        line-height: 44px;
        width: 100%;
        display: block;
        text-align: left;
        border: none;
        color: dimgrey;
        border-bottom: 1px solid lightgrey;
        background-color: white;
        cursor: pointer;
        padding-left: 10px;

        &:hover {
            background-color: rgb(32, 189, 149);
            color: white;

            span {
                color: white;
            }
        }

        &:last-child {
            border-bottom: none;
        }
    }

}

.number-of-pages {
    width: 96%;
    margin: 0 2%;
    text-align: center;

    button {
        border: 0;
        border-right: 1px solid grey;
        width: 40px;
        height: 20px;
        background: white;
        color: dimgray;
        cursor: pointer;

        &.active,
        &:hover
        {
            color: rgb(32, 189, 149);
        }

        &:last-child {
            border: none;
        }

    }
}