.sign-up-wrapper {
    display: flex;
    align-items: center;
    font-family: sans-serif;

    .sign-up-form {
        width: 350px;
        margin: -100px auto 0;
        border: 1px solid #415069;
        text-align: center;
    
        h1 {
            background-color:#415069;
            color: white;
            text-transform: uppercase;
            height: 50px;
            line-height: 50px;
            margin-bottom: 40px;
            font-size: 26px;
            font-weight: normal;
        }
    
        input[ type="text" ],
        input[ type="password" ],
        input[ type="email" ],
        input[ type="submit" ]
        {
            display: block;
            height: 40px;
            width: 300px;
            margin: 20px auto 0;
        }

        input[ type="text" ],
        input[ type="email" ],        
        input[ type="password" ]
        {
            padding-left: 10px;            
        }
    
        input[ type="submit" ] {
            color: white;
            background-color: rgb(32, 189, 149);
            margin-bottom: 40px;
        }

        .password-wrapper {
            position: relative;
            
            button.toggle-password {
                border: none;
                position: absolute;
                top: 14px;
                right: 30px;
                cursor: pointer;
            }
        }
        
    }
}