.team-container {
    float: left;
    width: 100%;
    padding: 20px;

    .logo-wrapper {
        float: left;
    
        .file-wrapper {
            margin-top: 20px;
        }
    }

    .team-name,
    .team-stadium
    {
        float: left;
        height: 40px;
        width: 400px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
}