.template {
    display: grid;
    grid-template-columns: 200px auto;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
}

.country-container,
.league-container,
.player-container,
.team-container 
{
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;

    .lds-dual-ring {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -64px 0 0 -64px;
    }
}