.template {
    display: grid;
    grid-template-columns: 200px auto;
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 2;
}

.country-container,
.league-container,
.player-container,
.team-container 
{
    grid-column-start: 2;
    grid-column-end: 3;
}